<section class='main_section'>
  <div class='user_card'>
    <div class='user_img'>
      <img src= <%= @user.photo %> alt= <%= @user.name %> />
    </div>

    <div class='user_stuff'>
      <p class='user_name'><%= @user.name %></p>
      <p class='posts_no'>Number of Posts: <%= @user.posts_counter || 0 %></p>
    </div>
  </div>

  <ul class='posts_list'>
    <% @user.posts.each_with_index do |post, index|%>
      <li>
        <div class='post_card'>
          <a href=<%= "/users/#{@user.id}/posts/#{post.id}" %> >
            <h4><%= post.title %></h4>
          </a>
          <p class='post_text'><%= post.text%></p>
          <div class='comments_likes'>
            <p class='comments_no'>Comments: <%= post.comments_counter || 0 %></p>
            <p class='likes_no'>Likes: <%= post.likes_counter || 0 %></p>
          </div>

          <% if can?(:destroy, post)%>
          <%= link_to user_post_path(@user, post), data: {
            turbo_method: :delete
          } do %>
            <button><%= t('.delete') %></button>
            <% end %>
        <% end %>

          <ul class='comments_list'>
            <% post.comments.each do |comment| %>
              <li class='comment_info'>
                <p class='comment_author'><%= comment.author.name %>:</p>
                <p class='comment_text'><%= comment.text %></p>
              </li>
            <% end %>
          </ul>
        </div>

      </li>
    <% end %>
  </ul>

  <div>
    <a href="<%= url_for("/users/#{@user.id}/posts/new") %>">Create new post</a>
  </div
</section>